# Maven
target/
*.class
*.jar
*.war

# Secrets — NEVER commit these
src/main/resources/application-local.properties
.env
*.env

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

#zip files
*.zip